* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: normal;
  color: #33475b;
}

.container {
  width: 1100px;
  max-width: 100%;
  margin: 0px auto;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

/* HEADER */
header {
  height: auto;
  position: relative;
}


/* HEADER TOP1 */
.header-top-1::after {
  content: "";
  display: table;
  clear: both;
}

.top-1 {
  background-color:#f5f8fa;
  border-bottom: 1px solid #cbd6e2;
}


/* TOP-1 SX */
.utilities {
  text-decoration: none;
  list-style: none;
  height: 70px;
}

.utilities-bar {
  float: left;
  height: auto;
  width: 50%;
}

.lingua {
  float: left;
  padding-right: 30px;
  border-right: 2px solid #cbd6e2;
}

.contact {
  float: left;
  padding-right: 0px;
  padding-left: 30px;
}

.contact a{
  text-decoration: none;
  color: #33475b;
}

.fas.fa-angle-down{
  padding-left: 10px;
  color: #33475b;
}

.utilities {
  width: 50%;
}

.utilities li  {
  display: inline-block;
  line-height: 80px;
}


/* TOP-1 DX */
.tools-bar {
  position: relative;
  float: left;
  height: auto;
  width: 50%;
}

.tools {
  position: absolute;
  right: 0;
  text-decoration: none;
  list-style: none;
}

.tools li {
  display: inline-block;
  margin-left: 20px;
  line-height: 80px;
}

.search i {
    color: #33475b;
}

.button.white{
  background-color: white;
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 8px 30px;
  border-radius: 3px;
  font-weight: normal;
}

.button.orange {
  background-color: #ff7a59;
  border: 1px solid #ff7a59;
  color: white;
  padding: 8px 30px;
  border-radius: 3px;
  font-weight: normal;
}




/* HEADER TOP2 */
.header-top-2::after {
  content: "";
  display: table;
  clear: both;
}

.top-2{
  background-color:#ffffff;
}

.logohusbot {
  float: left;
  width: 30%;
  line-height: 80px;
}

.logohusbot img {
  vertical-align: middle;
}

.info {
  position: relative;
    float: left;
    width: 70%;
}

.info-list {
  position: absolute;
  right: 0px;
}

.info-list li {
  display: inline-block;
  line-height: 80px;

}


.info-list li a {
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
    color: #33475b;
}




/* HEADER MID */
.header-mid {
  background: #FFF url(../img/jumbotron.png) no-repeat 30% 90%;
  background-size: cover;
  height: 800px;
  position: relative;
}

.box-header-mid {
  height: 300px;
  width: 38%;
  position: relative;
  top: 20px;
  padding-top: 60px;
}

h1 {
  font-size: 50px;
  padding-bottom: 20px;
  line-height: 60px;
}

#box-head-p1 {
  line-height: 30px;
  font-size: 15px;
}

#box-head-p2 {
  width: 50%;
  font-size: 14px;
  line-height: 20px;
}

.button.orange.big {
  padding: 30px 0px;
  margin: 30px 0px;
  width: 50%;
  font-size: 15px;
  font-weight: bold;
}


.striscia {
  position: absolute;
  bottom: 0px;
  background: rgb(175,235,228);
  background: linear-gradient(90deg, rgba(175,235,228,1) 0%, rgba(107,218,204,1) 100%);

  border-top: 4px solid #33475b;
  border-bottom: 4px solid #33475b;
  height: 100px;
  width: 100%;
}


/* MAIN SEZIONE 1 */
.main-1{
  background-color: lightgray;
  height: auto;
}

/* prima box */
.box-main-top {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: purple; /*diventerà trasparente*/
  height: 300px;
  width: 300px;
  padding-top: 30px;
}

/* seconda box */
.box-main-mid {
  width: 1000px;
  height: 300px;
  background-color: white;
  margin: 30px 0px;
}

.box-colonne-bot::after{
    content: "";
    display: table;
    clear:both;
}

.box-colonne-bot {
  width: 1000px;
  padding-bottom: 30px;
}

.colonna1 {
  float: left;
  background: white;
  width: 28%;
  height: 500;
  margin-right: 8%;
  height: 500px;
}

.colonna2 {
  float: left;
  background: white;
  width: 28%;
  height: 500;
  margin-right: 8%;
  height: 500px;
}

.colonna3 {
  float: left;
  background: white;
  width: 28%;
  height: 500;
  height: 500px;
}


/* MAIN SEZIONE 2 */
.main-2{
  background: rgb(0,164,189);
  background: linear-gradient(57deg, rgba(0,164,189,1) 0%, rgba(0,186,167,1) 100%);
  height: auto;
}

.box-main-info {
  background-color: #2c693c; /*diventa trasparente*/
  height: 400px;
}

/* SEZIONE MAIN 3 */
.main-3 {
  background-color: lightgray;
  height: auto;
}


.box-main-3 {
  width: 1000px;
  height: 300px;
  background-color: white;
  padding: 30px 0px;
}

.box-col-main-3::after{
  content: "";
  display: table;
  clear: both;
}

.col-sx {
  float: left;
  background-color: white;
  height: 500px;
  width: 40%;
}

.col-dx {
  float: left;
  background-color: white;
  height: 500px;
  width: 55%;
  margin-left: 5%;
}

/* FOOTER */
footer {
  background-color: #33475b;
  height: auto;
}

/* footer top */
.lista-col::after{
  content: "";
  display: table;
  clear: both;
}

.col{
  float: left;
  border: red solid 1px;
  width: 20%;
  margin-right: 6.6666%;
  height: 300px;
}

.col4 {
  float: left;
  border: red solid 1px;
  width: 20%;
  height: 300px;
}

/* footer bot */
.footer-bot::after{
  content: "";
  display: table;
  clear: both;
}

.legal-privacy::after{
  content: "";
  display: table;
  clear: both;
}

footer .logohusbot{
  float: left;

}

.legal {
  float: left;
}

.privacy {
  float: left;
}
