* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0px auto;
}


/* HEADER */
header {
  height: auto;
  position: relative;
}


/* HEADER TOP1 */
.header-top-1::after {
  content: "";
  display: table;
  clear: both;
}

.top-1 {
  background-color:#f5f8fa;
  height: auto;
}

.utilities {
  float: left;
  background-color: red;
  height: 50px;
  width: 50%;
}

.tools {
  float: left;
  background-color: pink;
  height: 50px;
  width: 50%;
}


/* HEADER TOP2 */
.header-top-2::after {
  content: "";
  display: table;
  clear: both;
}

.logohusbot {
  float: left;
  background-color: pink;
  height: 50px;
  width: 50%;
}

.info-link {
  float: left;
  background-color: red;
  height: 50px;
  width: 50%;
}

/* HEADER MID */
.header-mid {
  background-color: lightgray;  /*immagine sfondo*/
  height: 500px;
  position: relative;
}

.box-header-mid {
  background-color: red;
  height: 300px;
  width: 50%;
  position: relative;
  top: 20px;
}

.striscia {
  background-color: green;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  height: 30px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}


/* MAIN SEZIONE 1 */
.main-1{
  background-color: lightgray;
  height: auto;
}

/* prima box */
.box-main-top {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: purple; /*diventerà trasparente*/
  height: 300px;
  width: 300px;
  padding-top: 30px;
}

/* seconda box */
.box-main-mid {
  width: 1000px;
  height: 300px;
  background-color: white;
  margin: 30px 0px;
}

.box-colonne-bot::after{
    content: "";
    display: table;
    clear:both;
}

.box-colonne-bot {
  width: 1000px;
  padding-bottom: 30px;
}

.colonna1 {
  float: left;
  background: white;
  width: 28%;
  height: 500;
  margin-right: 8%;
  height: 500px;
}

.colonna2 {
  float: left;
  background: white;
  width: 28%;
  height: 500;
  margin-right: 8%;
  height: 500px;
}

.colonna3 {
  float: left;
  background: white;
  width: 28%;
  height: 500;
  height: 500px;
}


/* MAIN SEZIONE 2 */
.main-2{
  background: rgb(0,164,189);
  background: linear-gradient(57deg, rgba(0,164,189,1) 0%, rgba(0,186,167,1) 100%);
  height: auto;
}

.box-main-info {
  background-color: #2c693c; /*diventa trasparente*/
  height: 400px;
}

/* SEZIONE MAIN 3 */
.main-3 {
  background-color: lightgray;
  height: auto;
}


.box-main-3 {
  width: 1000px;
  height: 300px;
  background-color: white;
  padding: 30px 0px;
}

.box-col-main-3::after{
  content: "";
  display: table;
  clear: both;
}

.col-sx {
  float: left;
  background-color: white;
  height: 500px;
  width: 40%;
}

.col-dx {
  float: left;
  background-color: white;
  height: 500px;
  width: 55%;
  margin-left: 5%;
}

/* FOOTER */
footer {
  background-color: #33475b;
  height: auto;
}

/* footer top */
.lista-col::after{
  content: "";
  display: table;
  clear: both;
}

.col{
  float: left;
  border: red solid 1px;
  width: 20%;
  margin-right: 6.6666%;
  height: 300px;
}

.col4 {
  float: left;
  border: red solid 1px;
  width: 20%;
  height: 300px;
}

/* footer bot */
.footer-bot::after{
  content: "";
  display: table;
  clear: both;
}

.legal-privacy::after{
  content: "";
  display: table;
  clear: both;
}

footer .logohusbot{
  float: left;

}

.legal {
  float: left;
}

.privacy {
  float: left;
}
