/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: normal;
  color: #33475b;
}

.container {
  width: 1100px;
  max-width: 100%;
  margin: 0px auto;
}

.container-fixed {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #f5f8fa;
  border-bottom: 1px solid lightgray;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

.button.orange {
  background-color: #ff7a59;
  border: 1px solid #ff7a59;
  color: white;
  padding: 8px 30px;
  border-radius: 3px;
  font-weight: normal;
}

.button.orange:hover{
  background-color: #ff7a59;
  opacity: 0.6;
    cursor: pointer;
}

.button.orange.mid {
  display: block;
  width: auto;
  margin: 10px auto;
  padding: 15px 30px;
}

.button.orange.mid:hover{
  background-color: #ff7a59;
  opacity: 0.6;
  cursor: pointer;
}

.button.white:hover{
  background-color: #ff7a59;
  opacity: 0.6;
  color: white;
  cursor: pointer;
}

#check-orange {
  color: #ff7a59;
  padding-right: 10px;
}



/* HEADER */
header {
  height: auto;
  position: relative;
}


/* HEADER TOP1 */
.header-top-1::after {
  content: "";
  display: table;
  clear: both;
}


.top-1 {
  background-color:#f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  height: 80px;
}


/* TOP-1 SX */
.utilities-bar {
  float: left;
  height: 80px;
  width: 50%;
}

#utilities-sx {
  position: relative;
  float: left;
  height: 80px;
  width: 22%;
}

#utilities-dx {
  position: relative;
  float: left;
  height: 80px;
  width: 50%;
}

.lingua {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width: 100%;
  padding-right: 20px;
  line-height: 30px;
  border-right: 2px solid #cbd6e2;
}

.contact {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  padding-left: 20px;
}

.contact a{
  text-decoration: none;
  color: #33475b;
}

.fas.fa-angle-down{
  padding-left: 10px;
  color: #33475b;
}

.utilities {
  width: 50%;
}

.utilities li  {
  display: inline-block;
  line-height: 80px;
}


/* TOP-1 DX */
.tools-bar {
  position: relative;
  float: left;
  height: auto;
  width: 50%;
}

.tools {
  position: absolute;
  right: 0;
  text-decoration: none;
  list-style: none;
}

.tools li {
  display: inline-block;
  margin-left: 20px;
  line-height: 80px;
}

.search i {
    color: #33475b;
}

.button.white{
  background-color: white;
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 8px 30px;
  border-radius: 3px;
  font-weight: normal;
}



/* HEADER TOP2 */
.header-top-2::after {
  content: "";
  display: table;
  clear: both;
}

.top-2{
  background-color:#ffffff;
}

.logohusbot {
  float: left;
  width: 30%;
  line-height: 80px;
}

.logohusbot img {
  vertical-align: middle;
}

.info {
  position: relative;
    float: left;
    width: 70%;
}

.info-list {
  position: absolute;
  right: 0px;
}

.info-list li {
  display: inline-block;
  line-height: 80px;

}


.info-list li a {
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
    color: #33475b;
}




/* HEADER MID */
.header-mid {
  background: #FFF url(../img/jumbotron.png) no-repeat 30% 90%;
  background-size: cover;
  height: 800px;
  position: relative;
}

.box-header-mid {
  height: 300px;
  width: 38%;
  position: relative;
  top: 20px;
  padding-top: 60px;
}

h1 {
  font-size: 50px;
  padding-bottom: 20px;
  line-height: 60px;
}

#box-head-p1 {
  line-height: 30px;
  font-size: 15px;
}

#box-head-p2 {
  width: 50%;
  font-size: 14px;
  line-height: 20px;
}

.button.orange.big {
  padding: 30px 0px;
  margin: 30px 0px;
  width: 50%;
  font-size: 15px;
  font-weight: bold;
}


.striscia {
  position: absolute;
  bottom: 0px;
  background: rgb(175,235,228);
  background: linear-gradient(90deg, rgba(175,235,228,1) 0%, rgba(107,218,204,1) 100%);

  border-top: 4px solid #33475b;
  border-bottom: 4px solid #33475b;
  height: 100px;
  width: 100%;
}


/* MAIN SEZIONE 1 */
.main-1{
  background-color: #f5f8fa;
  height: auto;
  text-align: center;
}

.boxrelative {
  width: auto;
  height: auto;
}

/* prima box */
.box-main-top {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  padding-top: 35px;
  padding-bottom: 0px;
  text-align: center;
}

#img-main1 {
  position: relative;
  width: 200px;
  margin-bottom: 15px;
}

.box-main-top p {
  margin: 30px 0px;
  line-height: 30px;
}


/* LAYOUT BOX BIANCHE */
.box {
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.61);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.61);
  box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.61);
  border-radius: 4px;
}

/* seconda box  LUNGA, parte sx*/
.box.main-mid {
  position: relative;
  width: 1100px;
  height: 300px;
  margin: 10px 0px;
}

.box.main-mid::after{
  content: "";
  display: table;
  clear: both;
}


.icona_pulsante {
  float: left;
  position: relative;
  width: 30%;
  height: 300px;
  text-align: center;
  vertical-align: middle;
}

.icon_butt-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icona_pulsante img {
  width: 130px;
  margin-bottom: 20px;
}



/* parte dx box lunga */
.parag-main-mid {
  float: left;
  position: relative;
  width: 70%;
  height: 300px;
  vertical-align: middle;
  text-align: left;
}

.float-main-mid {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  height: auto;
}

.h3-main-mid {
  padding-bottom: 25px;
}

.p-main-mid {
  line-height: 30px;
}

.h4-main-mid {
  display: inline-block;
  padding: 20px 0px;
  text-transform: uppercase;

}

.parag-main-mid hr {
  display: inline-block;
  width: 68%;
  vertical-align: middle;
  margin-left: 50px;
  height: 2px;
  color: gray;
  background-color: gray;
  border: none;
}

.list-main-mid {
  padding-top: 5px;
}

.list-main-mid li {
  display: inline-block;
  padding-right: 20px;
}


/* BOX COLONNE INFERIORI */
.box-colonne-bot::after{
    content: "";
    display: table;
    clear:both;
}

.box-colonne-bot {
  width: 1100px;
  padding: 30px 0px;
  text-align: center;
}


.box.colonna1 {
  float: left;
  background: white;
  width: 28%;
}

.box.colonna2 {
  background: white;
  display: inline-block;
  width: 28%;
  margin: auto;
}

.box.colonna3 {
  float: right;
  background: white;
  width: 28%;
}


/* sezione box colonna 1 */
.colon-top {
  width: 80%;
  margin: 10px auto;
}

.h3-colon {
  padding: 20px 0px;
}

.p-colon {
  line-height: 25px;
  padding: 20px 0px;
}

.h4-colon {
  text-transform: uppercase;
  padding: 10px 0px;
}

.hr-colon {
  height: 2px;
  color: gray;
  background-color: gray;
  border: none;
  margin: 20px 0px;
}

.colon-ul {
  text-align: left;
  list-style: none;
  margin-left: 10%;
  padding-bottom: 35px;
}

/* SEZIONE IMMAGINI COLONNE */
.img-col{
  width: 100px;
  height: 105px;
  margin: 0 auto;
}

#img-hubfree {
  width: 100%;
  height: 100%;
}

#img-sales {
  width: 100%;
  height: 100%;
}

#img-marketing {
  width: 100%;
  height: 100%;
}

/* MAIN SEZIONE 2 */
.main-2{
  background: rgb(0,164,189);
  background: linear-gradient(57deg, rgba(0,164,189,1) 0%, rgba(0,186,167,1) 100%);
  height: auto;
}

.box-main-info {
  position: relative;
  color: white;
  margin-bottom: 120px;
}

#box-main-top {
  padding-top: 125px;
  width: 60%;
  margin: auto;
  text-align: center;
}

#h2-box-top {
  font-weight: bold;
  font-size: 30px;
  color: white;
  line-height: 40px;
}

#p-box-top {
  padding-top: 20px;
  line-height: 28px;
}

/* sezione bot */
#box-main-bot {
  padding-top: 80px;
}

#float-box1::after {
  content: "";
  display: table;
  clear: both;
}

#float-box1 {
  position: relative;
  text-align: center;
  height: 400px;
}


/* layout colonne */
.trasp-col-top {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  height: 50%;
}

.trasp-col-bot {
  border-right: 1px solid white;
  height: calc(100% - 50%);
}

#box-main-bot img {
  padding-top: 30px;
}

.h1-trasp {
  display: inline-block;
  padding: 10px 0px;
}

.plus-trasp {
  display: inline-block;
  font-size: 25px;
}


.par-trasp {
  padding-bottom: 30px;
}

/* colonna 1 */
.trasp-col1 {
  width: 25%;
  height: 100%;
}


/* colonna 2 */
.trasp-col2 {
  position: absolute;
  top: 0px;
  left: 25%;
  width: 25%;
  height: 100%;
}


/* colonna 3 */
.trasp-col3 {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 25%;
  height: 100%;
}


/* colonna 4 */
.trasp-col4 {
  position: absolute;
  top: 0px;
  left: 75%;
  width: 25%;
  height: 100%;
}

.trasp-col4-top {
  border-bottom: 1px solid white;
  height: 50%;
}



/* SEZIONE MAIN 3 */
.main-3 {
  height: auto;
}

/* BOX MAIN3 TOP */
.box-top-main-3 {
  width: 1100px;
}

/* BOX TOP MAIN3 SINISTRA */
.box-top-main-3::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper-top-main3-sx {
  float: left;
  width: 40%;
}

.box-top-main3-sx {
  text-align: left;
  width: 40%;
  margin: 50px auto;
}

.box-top-main3-sx h2 {
  font-size: 35px;
  padding-bottom: 15px;
}

.box-top-main3-sx p {
  line-height: 30px;
}

/* BOX TOP MAIN 3 DESTRA */
.wrapper-top-main3-dx {
  float: left;

}

.img-box1-top-main3-dx {
  margin-top: 90px;
}

.img-box2-top-main3-dx {
  margin-top: 20px;
}

.wrapper-top-main3-dx img {
    vertical-align: middle;
    padding: 0px 8px;
}

#img-atla {
  width: 150px;
}

#img-doordash {
  width: 150px;
}

#img-g2crowd {
  width: 100px;
}

#img-purple-logo {
  width: 100px;
}

#img-Subaru_Logo {
  width: 100px;
}

#img-Wistia_logo {
  width: 100px;
}

#img-Classpass-logo {
  width: 100px;
}

#img-VMware_logo{
  width: 100px;
}


/* BOX INFERIORI MAIN 3 */
.box-col-main-3::after{
  content: "";
  display: table;
  clear: both;
}

.box-col-main3-sx {
  float: left;
  width: 40%;
  margin-top: 40px;
}

.wrapper-h2-col-main3-sx h2 {
  font-size: 30px;
}

#h2-col-main3-sx2 {
  padding-bottom: 25px;
}

#p-col-main3-sx {
  line-height: 20px;
}

#p-min-col-main3-sx {
  font-size: 12px;
}

.box-col-main3-dx {
  float: right;
  background-color: white;
  height: 500px;
  width: 55%;
  margin-left: 5%;
}

.box-col-main3-dx img {
  float: right;
  width: 350px;

}



/* FOOTER */
footer {
  background-color: #33475b;
}

/* footer top */
.footer-top {
  padding-top: 40px;
}

.lista-col::after{
  content: "";
  display: table;
  clear: both;
}

.col-footer {
  float: left;
  width: 20%;
  margin-right: 6.6666%;
  color: white;
}

.col-footer4 {
  float: left;
  width: 20%;
  color: white;
}

.lista-col h4 {
  padding-bottom: 20px;
}

.lista-col ul {
  list-style: none;

}

.lista-col a {
  color: #cbd6e2;
  text-decoration: none;
  line-height: 35px;
}

.lista-col a:hover {
  cursor: pointer;
  color: #73c7b8;
}

.footer-top::after{
  content: "";
  display: table;
  clear: both;
}

.box-support-social {
  float: right;
}

.button.white.footer {
  display: block;
  background-color: white;
  border: none;
  color: black;
  padding: 8px 30px;
  border-radius: 3px;
  margin: 25px 0px;
}

#social-list-footer {
  list-style: none;
}

#social-list-footer li {
  display: inline;
  padding-right: 15px;
}

.col-footer4 i {
  font-size: 20px;
}

/* LINK LINGUE */
/* #cbd6e2 */
.language-footer{
  padding-bottom: 40px;
  border-bottom: 1px solid #7c98b6;
}

.language-footer ul {
  list-style: none;
  text-align: center;
  padding-top: 60px;
}

.list-language li {
  display: inline;
  color: #cbd6e2;
  padding: 0px 20px;
}

.list-language a {
  text-decoration: none;
  color:#cbd6e2;
  font-weight: bold;
  font-size: 18px;
}

.list-language a:hover {
  cursor: pointer;
  color: #73c7b8;
}


/* footer bot */
.footer-bot::after{
  content: "";
  display: table;
  clear: both;
}

.legal-privacy::after{
  content: "";
  display: table;
  clear: both;
}

.footer-bot {
  position: relative;
}

.logohusbot-footer-bot{
  float: left;
  color: #cbd6e2;
  margin-top: 30px;
}


#p-footer-bot {
  padding-top: 15px;
  padding-bottom: 40px;
}

.legal-privacy {
  float: right;
  position: absolute;
  right: 0;
  line-height: 100px;
}


.legal-privacy li {
  display: inline;
  padding: 0px 20px;
}

#legal-privacy-link a {
  text-decoration: none;
  color:#cbd6e2;
  font-weight: bold;
  font-size: 18px;
}

#legal-privacy-link a:hover {
  color: #73c7b8;
}
